<form action="POST" action="/new">
    <h1>Add a message!</h1>
    <label for="name">Name
        <input type="text">
    </label>
    </br>
    <label for="message">Message
        <textarea cols="20"></textarea>
    </label>
    </br>
    <button type="submit">Submit</button>
</form>