<form method="POST" action="/new">
    <h1>Add a message!</h1>
    <label for="username">Name
        <input name="messageUser" type="text">
    </label>
    </br>
    <label for="message">Message
        <textarea name="messageText" cols="20"></textarea>
    </label>
    </br>
    <button type="submit">Submit</button>
</form>