<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a New Message</title>
    </head>
    <body>
        <div>
            <% if (errors) { %>
                <ul>
                    <% errors.forEach(e => { %>
                        <li><%= e.msg %></li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
        <form method="POST" action="/new">
            <h1>Add a message!</h1>
            <label for="username">Name</label>
            <input name="username" type="text" value="<%= old?.username || '' %>">
            </br>
            <label for="message">Message</label>
            <textarea name="message" cols="20"><%= old?.message || '' %></textarea>
            </br>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Back to messages</a>
    </body>
</html>
