<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <button><a href="/new">Post a message</a></button>
        <form action="/message" method="GET">
            <input type="text" name="username" placeholder="Search username">
            <button type="submit">Search</button>
        </form>
        <div class="messagesContainer">
            <ul>
                <% if (messages.length === 0) { %>
                    <li>No Messages found.</li>
                <% } else { %>
                    <% messages.forEach(msg => { %>
                        <li class="message">
                            <strong>Username: </strong><%= msg.username %><br>
                            <strong>Date: </strong><%= msg.added.toDateString() %><br>
                            <strong>Message:</strong><br><%= msg.text %>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    </body>
</html>