<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <button><a href="/new">Post a message</a></button>
        <div class="messagesContainer">
            <ul>
                <% if (messages.length === 0) { %>
                    <li>No Messages found.</li>
                <% } else { %>
                    <% messages.forEach(msg => { %>
                        <li class="message">
                            Username: <%= msg.username %><br>
                            Date: <%= msg.added.toDateString() %><br>
                            Message:<br><%= msg.text %>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    </body>
</html>