<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="messagesContainer">
            <ul>
                <% for (let i = 0; i < messages.length; i++) { %>
                    <li>
                        <strong>
                            Message: <%= messages[i].text %> </br>
                        </strong>
                        By: <%= messages[i].user %> </br>
                        Date: <%= messages[i].added %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </body>
</html>