<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <h1>Message details</h1>
        <p><strong>User:</strong> <%= message.user %></p>
        <p><strong>Added:</strong> <%= message.added %></p>
        <p><strong>Message:</strong> <%= message.text %></p>

        <a href="/">Back to messages</a>
    </body>
</html>